*{
    box-sizing:border-box;
    margin:0;
}
body{
    background-color:rgb(253,200,65);
}
.main_div{
    width:1000px;
    height:700px;
    background-color:white;
    margin-left:100px;
    margin-top:100px;
    margin-bottom:100px;
    border-radius:30px;
    background-repeat:no-repeat;
    background-image:url('../GRAPHICS/raj2.png');
    background-size:110% 110%;
    box-shadow:15px 15px 15px rgba(201,159,54,0.6);
    
}
.logo_div{
    height:100px;
    width:200px;
    display:inline-block;
    vertical-align:middle;
    
display:inline-block;

    

}
.logo_pic{
    height:100px;
    width:200px;
    border-radius: 30px 30px 30px 0px;
}
.navigation_div{
vertical-align:top;
width:790px;
/* border-style:solid; */
display:inline-block;
border-width:0.1px;
margin-left:-5px;
vertical-align:middle;
padding-left:145px;

}
ul{
    list-style:none;
    list-style-type:none;
}
ul li a{
    
    margin-right:40px;
    
}
li{
    float:left;
}
.home_nav_button{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    font-family:arial;
    border-style:none;
    background-color:#b1b128;
    border-radius:19px;
    cursor:pointer;
    
}
.nav_buttons{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    font-family:arial;
    border-style:none;
    background-color:white;
    border-radius:19px;
    cursor:pointer;
    transition: background-color 0.15s,opacity 0.15s;
}

.nav_buttons:hover{
    background-color:#b1b128;

}
.nav_button:active{
    opacity:0.7;
}
.nav_buttons_contact{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    font-family:arial;
    border-style:none;
    background-color:white;
    border-radius:19px;
    cursor:pointer;
    transition: background-color 0.15s,opacity 0.15s;
}

.nav_buttons_contact:hover{
    background-color:#b1b128;

}
.content{
    display:inline-block;
    height:400px;
    width:400px;
    margin-top:140px;
    margin-left:70px;
    padding-left:50px;
}
.go{
    font-family:Arial;
    font-weight:500;
    font-size:40px;
    color:rgb(46, 44, 44);
}
.get_advent{
    font-family:arial;
    font-size:37px;
    color:rgb(46, 44, 44);
    margin-bottom:10px;
}
.welcome{
    font-family:arial;
    font-size:20px;
    color:rgb(46, 44, 44);
    font-style:italic;
    line-height:25px;
    margin-top:20px;
}
.upcoming{
    background-color:#b1b128;
    border-style:none;
    border-radius:20px;
    height:40px;
    width:170px;
    cursor:pointer;
    font-size: 18px;
    transition:background-color 0.15s, opacity;
}
.upcoming:hover{
    background-color:#8d8d12;

}
.upcoming:active{
    opacity:0.7px;
}
